#cover {
    background:url("../../../assets/images/Group_1.png") center center no-repeat;
    background-size: cover;
    height: 100%;
    // text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: -1;
    border-radius: 10px;
}
input[type=password] {
   
    border-radius: 0px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(228,230,232,1);
    opacity: 0.6;
}
.changePasswordButton{
width: 312px;
height: 46px;
border-radius: 10px;
background-color:rgba(183,155,126,1) ;
color: white;
}
.labelStyle{
    text-align: left !important;
    line-height: 21px;
font-family: PublicSans-Regular;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: rgba(128,131,163,1);
}
.titleCard{
    line-height: 24px;
    // text-align: center;
    font-family: PublicSans-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(23,23,33,1);
}
