<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="d-flex justify-content-center mb-2">
                <img src="assets/images/logo-snla.png" height="100px">
            </div>
            <div class="row text-white mt-2">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto  form p-4">

                    <div class="px-2">
                        <div class="alert alert-danger" *ngIf="doNotMatch">The password and its confirmation do not match!</div>
                        <div class="alert alert-danger" *ngIf="error">Invalid old password</div>
                        <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                            <h5 class="titleCard text-center py-2">Change Password</h5>
                            <hr>
                            <div class="row ">

                                <div class="form-group col-md-12">
                                    <label class="form-control-label labelStyle" for="oldPassword">Old password</label>
                                    <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                                        placeholder="***************" formControlName="oldPassword"
                                        data-cy="oldPassword" #oldPassword />
                                </div>

                            </div>
                            <div class="row col-md-12" *ngIf="passwordForm.get('oldPassword')!.invalid &&(passwordForm.get('oldPassword')!.dirty || passwordForm.get('oldPassword')!.touched)">
                                <small class="form-text text-danger" *ngIf="passwordForm.get('oldPassword')?.errors?.['required']">
                                Your password is required.
                                </small>
                            </div>
                            <div class="row ">

                                <div class="form-group col-md-12">
                                    <label class="form-control-label labelStyle" for="newPassword">New Password</label>
                                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                                        placeholder="***************" formControlName="newPassword"
                                        data-cy="newPassword" #newPassword />
                                </div>
                            </div>
                            <div class="row col-md-12" *ngIf="passwordForm.get('newPassword')!.invalid &&(passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                                <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.['required']">
                                Your password is required.
                                </small>
                            </div>
                            <div class="row ">

                                <div class="form-group col-md-12">
                                    <label class="form-control-label labelStyle" for="confirmPassword">Confirm
                                        Password</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                        name="confirmPassword" placeholder="***************"
                                        formControlName="confirmPassword" data-cy="confirmPassword" #confirmPassword>
                                </div>
                            </div>
                            <div class="row col-md-12" *ngIf="passwordForm.get('confirmPassword')!.invalid &&(passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                                <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">
                                Your password is required.
                                </small>
                            </div>

                            <div class="row col-md-12">
                                <div class="form-group col-md-12 text-center">
                                    <button type="submit" [disabled]="passwordForm.invalid||isSaving"
                                        class="btn  changePasswordButton">Change Password</button>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>