#Page_TitleTablet {
    
    width: 403px;
    height: 75px;
    
}
#Hi_Dash_Welcome_bac{
    font-family: Poppins-Medium;
    font-style: normal;
    font-weight: normal;
    // font-size: 18px;
    color: rgba(0,0,0,1);
    font-size: 20px;
}

#Page_TitleTablet_fh {
   
    width: 403px;
    height: 75px;
   
}
#Welcome_back {
    
    width: 187px;
    white-space: nowrap;
    text-align: left;
    font-family: Poppins-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(0,0,0,1);
    letter-spacing: -0.25px;
}
