
<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="d-flex justify-content-center mb-2">
                <img src="assets/images/logo-snla.png" height="100px">
            </div>
            <div class="row text-white mt-2">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto  text-center form p-4">
                    <div class="px-2">
                          <div class="main">
                          <h5 class="titleCard_thanku text-center py-2">Password Changed</h5>
                          <hr>
                          
                          <div id="Lock">
                            <svg class="Path" viewBox="0 0 181 124">
                              <path id="Path" d="M 174.6128540039062 124 C 185.34716796875 97.18437194824219 182.0999908447266 67.24177551269531 168.255615234375 44.24524688720703 L 23.33476257324219 64.29546356201172 L 162.2152404785156 35.37460327148438 C 103.682975769043 -37.55841445922852 -10.24151992797852 10.81715393066406 0.740231990814209 102.900276184082 L 174.6128540039062 124 Z">
                              </path>
                            </svg>
                            <svg class="Oval">
                              <ellipse id="Oval" rx="36.5" ry="36.5" cx="36.5" cy="36.5">
                              </ellipse>
                            </svg>
                          </div>
                          <div id="Title_be">
                            <div id="Thank_you">
                              <span>Thank you!</span>
                            </div>
                            <div id="We_sent_an_email_to">
                              <span>You have successfully  change your password</span>
                            </div>
                          </div>
                          <button class="btn btn-primary my-3 thankuButton" (click)="goToLogout()">Open login form</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>