.card {
  background-color: #D6DCE7;
  border-radius: 10Px;
  width: 97%;
  margin-top: 25px;
  display: grid;
  direction: ltr;
  border: none;
}
.card-1{
  background-color: #D6DCE7;
  border-radius: 10Px;
  margin-top: 28px;
  width: 135%;
}
.card-2{
  background-color: #D6DCE7;
  border-radius: 10Px;
    width: 150%;
    margin-top: 28px;
    margin-left: 28%;
}
.card-3{
  background-color: #D6DCE7;
  border-radius: 10Px;
  margin-top: 28px;
  width: 124%;
  margin-left: -11%;
}

.card-register {
  background-color: #D6DCE7;
  border-radius: 10Px;
  width: 100%;
  margin-left: 100%;
  margin-top: -287px;
  display: grid;
  direction: ltr;
  border: none;
}
.card-nationality{
  background-color: #D6DCE7;
  border-radius: 10Px;
  max-width: 100%;
  //width: 90%;
 // margin-left: 98%;
  margin-top: 25px;
  display: grid;
  direction: ltr;
  border: none;
  position: relative;
}

.grid-space {
  display: inline-block;
  table-layout: fixed;
  row-gap: 15%;
  display: table-column;
  width: 22%;
  position: relative;
}

.grid-space-1 {
  display: inline-block;
  table-layout: fixed;
  row-gap: 15%;
  display: table-column;
  margin-left: 7%;
  position: relative;
}

.grid-space-2 {
  display: inline-block;
  table-layout: fixed;
  row-gap: 15%;
  display: table-column;
  margin-left: 23%;
  position: relative;
}
.chartHeading-1{
  white-space: nowrap;
  line-height: 40px;
  text-align: center;
  font-family: Poppins-Medium;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
}

.chartHeading {
  white-space: nowrap;
  line-height: 40px;
  margin-left: 12px;
  font-family: Poppins-Medium;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
}

.count {
  white-space: nowrap;
  line-height: 88px;
  text-align: center;
  font-family: Poppins-SemiBold;
  font-style: normal;
  font-weight: bolder;
  font-size: 60px;
  color: #3F639C;
  letter-spacing: -0.1388888931274414px;
}

.coverImage {
  background: url('../../assets/images/welcome-box.png'), linear-gradient(to right, #3f639c, #aebbd1);
  background-repeat: round;
  height: 250px;
  background-blend-mode: multiply;
  border-radius: 20px;
  border: 0px solid;
}

.dashboardButton {
  background: url('../../assets/images/icons/viewreportbluesmall.png');
  height: 35px;
  background-repeat: no-repeat;
  width: 34px;
  background-color: white;
  border-radius: 18px;
  border: none;
  background-position: 4px;
  padding: 9px;
}

.home-container {
  width: 100%;  
  margin-right: auto;
  position: relative;
  margin-left: 20px;
}

@media (min-width: 576px) {
  .home-container {
    max-width: 350px;
  }
}

@media (min-width: 768px) {
  .home-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .home-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    max-width: 1050px;
    // margin-left: 5%;
    // padding: 0px;
  }
}

#dash-welcome-home {
  font-weight: normal;
  font-family: Poppins-SemiBold;
  font-size: x-large;
  width: 258%;
  margin-left: 20px;
}
#dash-welcome-home .header{
  float: left;
  color: black;
  font-family: Poppins-SemiBold;
  font-style: normal;
  font-weight: bold;
  margin-top: 3%;
  margin-left: -1%;
}
#dash-welcome-home .name{
  float: right;
  margin-top: 3%;
  
}
#Welcome_back_home {
  font-weight: bold;
  font-family: Poppins-SemiBold;
  font-size: x-large;
  color: black;
 // margin-left: 28%;
}

.col-md-6-home {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-12-home {
  flex: 0 0 100%;
  max-width: 100%;
}